label{
   display: inline-block;
   width: 10em;
   text-align: right;
   margin: 0.25em;
   font-weight: bold;
}

input[type="submit"] {
   width: 100px;
   height:30px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   border: 1px solid #999;
}

.error{
    color:red;
}

p{
  display: table;
}

span{
    display: table-cell;
}